.burger_constructor{
    /* overflow-x: hidden;
    overflow-y: scroll; */
    height: 750px;
    scrollbar-width: none; 
    display: grid;
    gap: 16px;
}
.order_block{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.order_block_price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

}
.order_price{
    margin-right: 10px;
}