.card_wrapper{
   width: 100%;
}
.card_info{
    display: grid;
    grid-template-columns: auto 144px auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.card_price{
    /* display: grid;
    grid-template-columns: 30px 22px;
    gap: 5px; */
}
.item_name{
    min-width: 250px;
}