.burger_ingredients{

   
    
}
.tab_wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.burger_ingredients::-webkit-scrollbar {
    display: none;
  }

.burger_ingredients::-webkit-scrollbar-track {
    background-color: darkgrey;
}
.card_wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 600px;
    margin-top: 40px;
    
}

.card_wrapper{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 620px;
  display: grid;
  gap: 16px;
  padding-right: 16px;
}
.card_wrapper::-webkit-scrollbar {
  width: 8px;
}
.card_wrapper::-webkit-scrollbar-track {
  background: #2F2F37;
}
.card_wrapper::-webkit-scrollbar-thumb {
  background-color: #8585AD;
  
}